@import 'src/commonStyle/function.scss';
.mainWrap{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mainContent{
    display: flex;
    flex-direction: column;
    flex: auto;
}
.mainBottom{
    display: flex;
    width: 100%;
    flex-shrink: 0;
    border-top: 1px solid #ddd;
    >div{
        flex: 1 1 1px;
        padding: rem(10) 0;
        font-size: rem(40);
        text-align: center;
    }
     
}