@import 'src/commonStyle/function.scss';
.tabWrap{
    display: flex;
    flex-direction: column;
    height: 100%
}
.titleWrap{
    display: flex;
    margin-bottom: 2px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
    font-size: rem(40);
    flex: 1 1 1px;
    text-align: center;
    padding: rem(10) 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.titleChecked{
    color: red;
    border-bottom: solid 3px red;
}
.tabContent{
    flex: auto;
    overflow: auto;
}
.svgScale{
    width: rem(30);
    height: rem(30);
    fill:blue;
    margin-right:rem(5) ;
}
