@import 'src/commonStyle/function.scss';
.titleWrap{
    display: flex;
}
.title{
    color: green;
    font-size: rem(40);
    flex: 1 1 1px;
    text-align: center;
    padding: rem(10) 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.titleChecked{
    color: red;
    border-bottom: solid 3px red;
}