@import 'src/commonStyle/function.scss';
.movieOnlineList{
    display: flex;
    height: rem(240);
    padding:rem(30);
    align-items: center;
}
.movieInfo{
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.buttonBuy{
    width: rem(92);
    height: rem(56);
    text-align: center;
}
.moviePic{
    width: rem(128);
    height: rem(180);
    >img{
        width: 100%;
        height: 100%;
    }
}
.movieDetail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding:0 rem(20);
    overflow: hidden;
}
.movieName{
    color: #8a869e;
}
.movieStars{
    color: #8a869e;
}
.movieDirector{
    color: #8a869e;
}
.movieLeaderRole{
    color: #8a869e;
}